{% extends "base.html" %}
{% block content %}
    <h1>Signup</h1>
    <div>
        <form action="/login" method='POST'>
        <div>
            <label for="username">Username</label>
        </div>
        <div>
            <input name="username" type="text" value={{username}}>
            <h4 class="error">{{username_error}}</h4>
        </div>
        <div>
            <label for="password">Password</label>
        </div>
        <div>
            <input name="password" type="password" value={{password}}>
            <h4 class="error">{{password_error}}</h4>
        </div>
        
        <div>
            <label for="verify_password">Verify Password</label>
        </div>
        <div>
            <input name="verify_password" type="password" value={{verify_password}}>
            <h4 class="error">{{verify_password_error}}</h4>
        </div>
        
        <div>
            <label for="email">Email (optional)</label>
        </div>
        <div>
            <input name="email" type="text" value={{email}}>
            <h4 class="error">{{email_error}}</h4>
        </div>
        <div>
            <h4 class="error">{{blank_error}}</h4>
        </div>
        
        <div>
            <input type="submit" value="Submit" />
        </div>
        </form>
    </div>
{% endblock %}